bip_utils>=2.9.0
base58>=2.1.1
cbor2==5.9.0
certifi==2026.4.22
cffi==2.0.0
charset_normalizer==3.4.7
evdev
idna==3.13
iniconfig==2.3.0
mnemonic==0.21
numpy==2.4.4
opencv-python-headless==4.13.0.92
packaging==26.0
pillow==12.2.0
pluggy==1.6.0
pycparser==3.0
pycryptodome==3.23.0
pygame==2.6.1
pytest==9.0.2
pytest-asyncio==1.3.0
pynacl==1.6.2
pyzbar==0.1.9
python-xlib
qrcode==8.2
requests==2.33.1
solders>=0.21.0
typing_extensions==4.15.0
urllib3==2.6.3
